{% load static %}
<!-- Title -->
<title> Valex -  Premium dashboard ui bootstrap rwd admin html5 template </title>
<!-- Favicon -->
<link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/x-icon"/>
<!-- Icons css -->
<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
<!--  Custom Scroll bar-->
<link href="{% static 'assets/plugins/mscrollbar/jquery.mCustomScrollbar.css' %}" rel="stylesheet"/>
<!--  Sidebar css -->
<link href="{% static 'assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">
<!-- Sidemenu css -->
<link rel="stylesheet" href="{{% static 'assets/css-rtl/sidemenu.css' %}">

{%block css%}
      {%endblock%}
<!--- Style css -->
<link href="{% static 'assets/css-rtl/style.css' %}" rel="stylesheet">
<!--- Dark-mode css -->
<link href="{% static 'assets/css-rtl/style-dark.css' %}" rel="stylesheet">
<!---Skinmodes css-->
<link href="{% static 'assets/css-rtl/skin-modes.css' %}" rel="stylesheet">