{% load static %}
<!-- Back-to-top -->
<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>
<!-- JQuery min js -->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Bundle js -->
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Ionicons js -->
<script src="{% static 'assets/plugins/ionicons/ionicons.js' %}"></script>
<!-- Moment js -->
<script src="{% static 'assets/plugins/moment/moment.js' %}"></script>

<!-- Rating js-->
<script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>
<script src="{% static 'assets/plugins/rating/jquery.barrating.js' %}"></script>

<!--Internal  Perfect-scrollbar js -->
<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js' %}"></script>
<!--Internal Sparkline js -->
<script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!-- Custom Scroll bar Js-->
<script src="{% static 'assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- right-sidebar js -->
<script src="{% static 'assets/plugins/sidebar/sidebar-rtl.js' %}"></script>
<script src="{% static 'assets/plugins/sidebar/sidebar-custom.js' %}"></script>
<!-- Eva-icons js -->
<script src="{% static 'assets/js/eva-icons.min.js' %}"></script>
{%block js%}
      {%endblock%}
<!-- Sticky js -->
<script src="{% static 'assets/js/sticky.js' %}"></script>
<!-- custom js -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- Left-menu js-->
<script src="{% static 'assets/plugins/side-menu/sidemenu.js' %}"></script>