
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    {% load static %}
    <!--Render All Elements Normally -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- Font Awsome Library -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <!-- Main Template Css File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
  {{error}}
    <div class="login">
      <div class="container">
        <br /><br />
        <div class="login-details">
          <div class="logo">
            <a href="#" class="logo"> <span>I</span>TI <span>T</span>RAINEES</a>
          </div>

          <form method="post" action="/user1/register/">
            {% csrf_token %}
            <div class="name main-input">
              <p>name</p>
              <i class="fa-solid fa-user-pen"></i>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Enter Your Name"
                required
                pattern="[a-zA-Z\s]{4,}"
              />
            </div>
            <div class="password main-input">
              <p>password</p>
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="........"
                required

              />
            </div>
            <div class="password main-input">
              <p> Repeat password</p>
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="repassword"
                id="repassword"
                placeholder="........"
                required
              />
            </div>
            <div class="email main-input">
              <p>email address</p>
              <i class="fa-solid fa-envelope"></i>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Username@gmail.com"
                required
              />
            </div>

            <input type="submit" class="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
